body{
    background-color: #646464;

}

main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}



.postit{
    width: 22%;
    height: 300px;
    margin-inline: auto;
    text-align: center;
    line-height: 60px;
    box-shadow: 5px 5px 20px black;
    box-sizing: border-box;
}


#post1{
    background: rgb(249,250,200);
    background: linear-gradient(180deg, rgba(249,250,200,1) 85%, rgba(0, 0, 0, 0.973) 100%);
    transform: rotate(-5deg);
}

#post2{
    background: rgb(197,245,200);
    background: linear-gradient(180deg, rgba(197,245,200,1) 85%, rgb(0, 0, 0) 100%);
    transform: rotate(5deg);
}

#post3{
    background: rgb(198,198,241);
    background: linear-gradient(180deg, rgba(198,198,241,1) 85%, rgb(0, 0, 0) 100%);
    transform: rotate(-5deg);
}

#post4{
    background: rgb(197,245,200);
    background: linear-gradient(180deg, rgba(197,245,200,1) 85%, rgb(0, 0, 0) 100%);
    transform: rotate(5deg);
}

#post5{
    background: rgb(249,250,200);
    background: linear-gradient(180deg, rgba(249,250,200,1) 85%, rgba(0, 0, 0, 0.959) 100%);
    transform: rotate(-8deg)
}

#post6{
    background: rgb(198,198,241);
    background: linear-gradient(180deg, rgba(198,198,241,1) 85%, rgba(0, 0, 0, 0.877) 100%);
    transform: rotate(5deg);
}

#post7{
    background: rgb(249,250,200);
    background: linear-gradient(180deg, rgba(249,250,200,1) 85%, rgba(0, 0, 0, 0.925) 100%);
    transform: rotate(-8deg)
}

#post8{
    background: rgb(197,245,200);
    background: linear-gradient(180deg, rgba(197,245,200,1) 85%, rgb(0, 0, 0) 100%);
    transform: rotate(5deg);
}

.postit h2{
    padding-top: 80px;
    font-size: 55px;
    font-weight: 900;
    font-family: cursive;
}


.postit h4{
    font-size: 30px;
    font-family:cursive;
}

.post {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}



#post1 {
    animation: appear 5s ease 1s;

}

@keyframes appear {
   0%   {
        opacity: 0;
        
    }

    100%{
        opacity: 1;
    }
}

#post2 {
    animation: appear 7s linear;
    
}

#post3 {
    animation: appear 9s linear;
    
}

#post4 {
    animation: appear 11s linear;
    
}

#post5 {
    animation: appear 5s linear;
    
}

#post6 {
    animation: appear 1s linear;
    
}

#post7 {
    animation: appear 1s linear;
    
}

#post8 {
    animation: appear 1s linear;
    
}



#post1:hover {

    z-index: 1;
    transform: scale(1.15);
    transition: transform 600ms;
}

#post2:hover {
    z-index: 1;
    transform: scale(1.15);
    transition: transform 600ms;
}

#post3:hover {
    z-index: 1;
    transform: scale(1.15);
    transition: transform 600ms;
}

#post4:hover {
    z-index: 1;
    transform: scale(1.15);
    transition: transform 600ms;
}

#post5:hover {
    z-index: 1;
    transform: scale(1.15);
    transition: transform 600ms;
}

#post6:hover {
    z-index: 1;
    transform: scale(1.15);
    transition: transform 600ms;
}

#post7:hover {
    z-index: 1;
    transform: scale(1.15);
    transition: transform 600ms;
}

#post8:hover {
    z-index: 1;
    transform: scale(1.15);
    transition: transform 600ms;
}





#lavagna{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 30px;
}




