body{
    background-color: #646464;
}



.postit{
    width: 22%;
    height: 300px;
    margin-inline: auto;
    text-align: center;
    line-height: 60px;
    box-shadow: 5px 5px 20px black;
    box-sizing: border-box;
}


#post1{
    background: rgb(249,250,200);
    background: linear-gradient(180deg, rgba(249,250,200,1) 85%, rgba(0,0,0,0.06066176470588236) 100%);
    transform: rotate(-5deg);
}

#post2{
    background: rgb(197,245,200);
    background: linear-gradient(180deg, rgba(197,245,200,1) 85%, rgba(0,0,0,0.06066176470588236) 100%);
    transform: rotate(5deg);
}

#post3{
    background: rgb(198,198,241);
    background: linear-gradient(180deg, rgba(198,198,241,1) 85%, rgba(0,0,0,0.06066176470588236) 100%);
    transform: rotate(-5deg);
}

#post4{
    background: rgb(197,245,200);
    background: linear-gradient(180deg, rgba(197,245,200,1) 85%, rgba(0,0,0,0.06066176470588236) 100%);
    transform: rotate(5deg);
}

#post5{
    background: rgb(249,250,200);
    background: linear-gradient(180deg, rgba(249,250,200,1) 85%, rgba(0,0,0,0.06066176470588236) 100%);
    transform: rotate(-8deg)
}

#post6{
    background: rgb(198,198,241);
    background: linear-gradient(180deg, rgba(198,198,241,1) 85%, rgba(0,0,0,0.06066176470588236) 100%);
    transform: rotate(5deg);
}

#post7{
    background: rgb(249,250,200);
    background: linear-gradient(180deg, rgba(249,250,200,1) 85%, rgba(0,0,0,0.06066176470588236) 100%);
    transform: rotate(-8deg)
}

#post8{
    background: rgb(197,245,200);
    background: linear-gradient(180deg, rgba(197,245,200,1) 85%, rgba(0,0,0,0.06066176470588236) 100%);
    transform: rotate(5deg);
}

.postit h2{
    padding-top: 80px;
    font-size: 55px;
    font-weight: 900;
    font-family: cursive;
}


.postit h4{
    font-size: 30px;
    font-family:cursive;
}

.post {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}


#post1:hover .post{
    background: rgb(249,250,200);
    background: linear-gradient(180deg, rgba(249,250,200,1) 85%, rgb(0, 0, 0) 100%);
    transform: scale(1.15);
    transition: transform 600ms;
}

#post2:hover .post{
    background: rgb(197,245,200);
    background: linear-gradient(180deg, rgba(197,245,200,1) 85%, rgb(0, 0, 0) 100%);
    transform: scale(1.15);
    transition: transform 600ms;
}

#post3:hover .post{
    background: rgb(198,198,241);
    background: linear-gradient(180deg, rgba(198,198,241,1) 85%, rgb(0, 0, 0) 100%);
    transform: scale(1.15);
    transition: transform 600ms;
}
#post4:hover .post{
    background: rgb(197,245,200);
    background: linear-gradient(180deg, rgba(197,245,200,1) 85%, rgb(0, 0, 0) 100%);
    transform: scale(1.15);
    transition: transform 600ms;
}

#post5:hover .post{
    background: rgb(249,250,200);
    background: linear-gradient(180deg, rgba(249,250,200,1) 85%, rgb(0, 0, 0) 100%);
    transform: scale(1.15);
    transition: transform 600ms;
}

#post6:hover .post{
    background: rgb(198,198,241);
    background: linear-gradient(180deg, rgba(198,198,241,1) 85%, rgb(0, 0, 0) 100%);
    transform: scale(1.15);
    transition: transform 600ms;
}

#post7:hover .post{
    background: rgb(249,250,200);
    background: linear-gradient(180deg, rgba(249,250,200,1) 85%, rgb(0, 0, 0) 100%);
    transform: scale(1.15);
    transition: transform 600ms;
}

#post8:hover .post{
    background: rgb(197,245,200);
    background: linear-gradient(180deg, rgba(197,245,200,1) 85%, rgb(0, 0, 0) 100%);
    transform: scale(1.15);
    transition: transform 600ms;
}




#lavagna{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 30px;
}




